.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.vscode/
*.idea/
*.ipynb_checkpoints
*.pkl
*.cache
Thumbs.db
conversations/
